<header>
  <div class="header__container">
    <a class="header-link" routerlink="/">
      <img
        class="header-logo"
        src="assets/images/Microsoft_logo_(2012).svg"
        alt="Logo Microsoft"
      />
    </a>
    <nav class="header-navigation">
      <ul class="header-navigation-ul">
        <li class="navigation-item">
          <a routerlink="/">Microsoft</a>
        </li>
        <li class="navigation-item">
          <a routerlink="/">Teams</a>
        </li>
        <li class="navigation-item">
          <a routerlink="/">Copilot</a>
        </li>
        <li class="navigation-item">
          <a routerlink="/">Windows</a>
        </li>
        <li class="navigation-item">
          <a routerlink="/">Xbox</a>
        </li>
        <li class="navigation-item">
          <a routerlink="/">Suporte</a>
        </li>
      </ul>
    </nav>
    <div class="header-actions">
      <ul class="header-actions-ul">
        <li class="actions-item"><a routerlink="/">Toda a Microsoft</a></li>
        <li class="actions-item"><a routerlink="/">Pesquisar</a></li>
        <li class="actions-item"><a routerlink="/">Carrinho</a></li>
        <li class="actions-item"><a routerlink="/">Entrar</a></li>
      </ul>
    </div>
  </div>
</header>
