<div class="mini-card__container">
  <div class="mini-card-image">
    <img class="game-cover" src="{{ backgroundImage }}" alt="" />
  </div>
  <div class="mini-card-header">
    <span class="mini-card-price">Economize</span>
    <span class="mini-card-price">R$ 39,90</span>
  </div>
  <div class="mini-card-body">
    <p>
      <a [href]="alternativeImage" target="_blank">{{ gameName }}</a>
    </p>
    <p>
      <span class="original-price">R$ 279,90</span>
      <span class="off-price">R$ 238,80</span>
    </p>
  </div>
</div>
